body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ivory;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginPage {
  color: darkslategrey;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.loginPage label {
  text-align: left;
  display: block;
}
.loginPage input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.loginPage button {
  background: darkslategray;
  color: #ddd;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}