body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ivory;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loginPage, .register {
  color: darkslategrey;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.loginPage label, .register label {
  text-align: left;
  display: block;
}
.loginPage input, .register input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.loginPage button, .register button {
  background: darkslategray;
  color: #ddd;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}